main {
    flex: 1;
    section {
        padding: 20px;
        h1 {
            @include titulos;
        }
    }
    .section2 {
        text-align: center;
        padding: 20px;
        #mail {
            width: 30px;
            height: 30px;
            color: $violeta;
            border-bottom: 2px;
            text-align: center;
            &:hover {
                color: $dorado;
                font-size: 2rem;
                font-weight: bold;
            }
        }
        a  {
            text-decoration: none;
            font-size: 1.5rem;
            font-family: $titulos;
            font-weight: bold;
            color: $violeta;
            &:hover {
                color: $dorado;
                font-size: 2rem;
                font-weight: bold;
            }
        }
        h5 {
            font-family: $parrafos;
            font-size: $size_p;
            color: $sombra;
            font-weight: bold;
        }
        p {
            color: $sombra;
            font-family: $parrafos;
            font-size: 1rem;
        }
        .fa-solid {
            color: $sombra;
            font-size: 2rem;
            .avenida {
                font-size: 1.2rem;
                font-family: $parrafos;
                font-weight: none;
            }
        }
        .map {
            padding: 10px;
            #direccion {
                width: 550px;
                height: 450px;
                @media (max-width: $smartphone) {
                    width: 330px;
                    height: 300px;
                }
            }
        }
    }
    
    .forma {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 60px;
        @media (max-width: $tablets) {
            margin-top: 15px;
            align-items: center;
        }
        @media (max-width: $smartphone) {
            align-items: center;
            margin-top: 0;
        }
        fieldset {
            background: linear-gradient(90deg, $rosa, $violeta);
            width: 75%;
            place-items: center;
            padding: 15px;
            border: solid 5px $violeta;
            border-radius: 20px;
            box-shadow: 0 0 30px 0 $sombra;
            @media (max-width: $smartphone) {
                width: 90%;
            }
            @media (max-width: $tablets) {
                width: 90%;
            }
            h3 {
                font-family: $parrafos;
                font-size: 1.5rem;
                text-align: center;
                font-weight: bold;
            }
            .mb-3 {
                font-family: $parrafos;
                font-size: 1.2rem;
                input {
                    background: linear-gradient(90deg, $violeta, $rosa);
                    border: solid 2px $sombra;
                }
                textarea {
                    background: linear-gradient(90deg, $violeta, $rosa);
                    border: solid 2px $sombra;
                }
            }
            .btn {
                background-color: $sombra;
                font-family: $titulos;
                font-size: 2rem;
                font-weight: bold;
                width: 100%;
                justify-content: center;
                color: $dorado;
                border: solid 2px $dorado;
                padding: 10px;
                &:hover {
                    color: $dorado;
                    background-color: $violeta;
                    transform: scale(1.1);
                }
            }
        }
    }
}
