@mixin redes {
    color: $violeta;
    margin: 0 auto;
    &:hover {
        transform: scale(1.5);
        color: $dorado;
    }
}

@mixin titulos {
    color: $violeta;
    font-family: $titulos;
    padding: 10px;
    font-size: $size_titulos;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

@mixin parrafos {
    font-size: $size_p;
    line-height: 1.5;
    color: $sombra;
    font-family: $parrafos;
    text-align: center;
}

@mixin parrafos_noticias {
    text-align: justify;
    font-family: $parrafos;
    margin-top: 20px;
    font-size: $size_p;
    color: $sombra;
    line-height: 1.5;
    padding: 20px;
    margin-bottom: 0;
}

@mixin h3 {
    font-family: $parrafos;
    font-size: 1.5rem;
    text-align: center;
}

@mixin botones_principales {
    font-size: 2rem;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px 0 $rosa;
    }
    a {
        text-decoration: none;
        color: $dorado;
        font-family: $titulos;
        font-weight: bold;
    }
}

@mixin botones_1 {
    font-size: 2rem;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px 0 $sombra;
    }
    a {
        text-decoration: none;
        color: $violeta;
        font-family: $titulos;
        font-weight: bold;
        &:hover {
            color: $dorado;
        }
    }
}

@mixin botones_conciertos {
    font-size: 1.5rem;
    background-color: $sombra;
    &:hover {
        background-color: $violeta;
        transform: scale(1.1);
        box-shadow: 0 0 10px 0 $sombra;
    }
    a {
        text-decoration: none;
        color: $dorado;
        font-family: $titulos;
        font-weight: bold;
    }
}